<!-- This is the home page. -->
<!-- User sign up/login logic is managed here -->
<div id="homePage" ng-controller="dashboardCtrl">
    <md-toolbar class="md-whiteframe-z4">
        <div layout-align="left" class="md-toolbar-tools" style="padding: 0px;" flex>
            <img class="plate_logo" src="http://i.imgur.com/0Fr7nSZ.png" height="64px" width="200px" layout-align="left"></img>
        </div>

        <img class="profilePicture" src="{{getUserData().facebook.profileImageURL}}"></img>
        <md-button ng-click="showProfile($event)">{{getUserData().facebook.displayName}}</md-button>
        <md-button ng-click="logout()">LOGOUT</md-button>
  </md-toolbar>
  <div id="outer-wrapper">
      <div ui-view>


      </div>
  </div>
</div>
