font-face {
  font-family: ProximaNova-Regular;
  src: url(../libs/ProximaNova-Regular.ttf);
}

.content-wrapper {
  position: relative;
}

md-content.md-padding {
    margin: 0px;
    padding: 0px;
}


#home-section{
  background: url("../img/healthy-food.jpg") no-repeat center center fixed;
  background-size: 100% auto;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .7;
}

#home {
  background: url("../img/wood.jpg") no-repeat center center fixed;
  background-size: 100% auto;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .7;
}


#outer-wrapper{
  overflow: auto !important;
}

h5 {
    font-weight: normal;
}


.md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    font-weight: normal;
    background-color: rgb(77,77,77);
}

#profileDisplayName {
    text-transform: uppercase;
}

.section{
  box-sizing: border-box;
  max-height: calc(100vh - 64px);
  height: calc(100vh - 64px);
  width: 100%;
  padding: 0px 0px 0px 0px;
}

md-dialog {
 opacity: 1;   
}

md-toolbar {
    flex-direction: row;
}

md-list {
 padding: 0px;   
}

.template_dialog {
    width: 300px;
}

#profile_dialog {
    width: 500px;
}

md-sidenav {
    background-color: rgba(236,236,236,.85);
}

.dashboard-button{
    width: 170px;
    height: 170px;
    border-radius: 2px;
    padding: 25px;
    box-shadow: -3px 2px 1px 0px
    rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    text-align:center;
    background-color: rgba(19,22,25,.88);
    color: white;
    cursor: pointer;
}

.food_categories_image {
    height: 133px;
    width: 133px;
    
}

.profileAvatar {
    vertical-align: middle;
    position: relative;
    height: 64px;
    width: 64px;
    margin-right: 10px;

}

.profilePicture{
    vertical-align: middle;
    position: relative;
    top: 6;
    height: 50px;
    width: 50px;
    border-radius: 4px;
}

#dashboard-home-grid {
    background-color: rgba(255,255,255,.73);
}

#dashboard_button_1 {
    margin: 10px 10px 10px 10px;
}