<!-- Home page -->
<div id="homePage" ng-controller="HomeCtrl">
  <md-toolbar class="md-whiteframe-z4">
    <div layout-align="left" class="md-toolbar-tools" style="padding: 0px;">
        <img class="plate_logo" src="http://i.imgur.com/0Fr7nSZ.png" height="64px" width="200px" layout-align="left"></img>
    </div>

      <md-button ng-click="loginWithFacebook()">LOGIN</md-button>
  </md-toolbar>
  <div id="outer-wrapper">
      <md-content layout="column" layout-align="center center" flex class="md-padding" id="home-content">

        <div class="section" id="home-section" layout="row" layout-align="center center">

        </div>

        </md-content>
  </div>
</div>
