<md-dialog aria-label="test">
  <form name="profileForm" ng-controller="dashboardCtrl">
    <md-dialog-content>
        <div layout="row">
            <img class="md-whiteframe-z4 md-default-theme profileAvatar" src="{{getUserData().facebook.profileImageURL}}"></img>
            <md-toolbar md-scroll-y class="md-whiteframe-z4" layout="row">
                <h1 id="profileDisplayName" layout-align="left" class="md-toolbar-tools">{{getUserData().facebook.displayName}}</h1>
            </md-toolbar>
        </div>
        <div id="profile_dialog">
            <div layout="column" style="height:50vh;">
                <md-tabs id="review_tabs" class="tabs-left" md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">
                    <md-tab id="tab1">
                        <md-tab-label>HISTORY</md-tab-label>
                        <md-tab-body>

                            </md-tab-body>
                    </md-tab>
                    <md-tab id="tab2">
                        <md-tab-label>NUTRITION BREAKDOWN</md-tab-label>
                        <md-tab-body flex="100">
                          <h4>Breakdown by Meal</h4>
                            <div class="column" flex>
                                <div ng-init ="update_meal_chart()" class="ct-chart" id="meal_breakdown" style="margin-top: 20px;"></div>

                            <h4>Breakdown by Food Category</h4>
                            <div ng-init ="update_food_cat_chart()" class="ct-chart" id="cat_breakdown" style="margin-top: 20px;"></div>
                            </div>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </div>
        </div>
    </md-dialog-content>
  </form>
</md-dialog>
